.footer{
    background-color: $second-bg;

    .container{
        align-items: baseline;
        display: flex;
        padding-top: 60px;
        padding-bottom: 60px;
        background-color: $second-bg;
    }
}

.logo-footer{
    margin-bottom: 20px;
    color: $white-text;
}

.footer-address{
    @include font-config(400, 14px, 1.71, 0.03em);
    font-style: normal;
    color: $white-text;
    margin-bottom: 9px;
}

.contacts-footer  {
    @include font-config(400, 14px, 1.71, 0.03em);
    font-style: normal;
    transition: 250ms $cubic-function;
    .contacts-link{
        color: $footer-alfa;
    }

    .contacts-item:not(:last-child){
        margin-bottom: 9px;
    }
}

.footer .social-info{
    margin-left: 70px;

    .social-title{
        font-family: Roboto;
        @include font-config(700, 14px, 1.14, 0.03em);
        text-transform: uppercase;
        color: $white-text;
    }
}

.footer .social{
    margin-top: 20px;
}

.footer .social-link .link{
    background-color: rgba(255, 255, 255, 0.1);
}

.footer .social-link .icon-social{
    fill: $white-text;
}

.sub{
    margin-left: auto;
    
    .form-sub{
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
    }
}

.form-title{
    color: $white-text;
    @include font-config(700, 14px, 1.14, 0.03em);
    text-transform: uppercase;
}

.form-input-sub{
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    padding: 15px 16px;
    margin-right: 12px;
    background-color: transparent;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    color: $white-text;
    
    &::placeholder{
        font-family: Roboto;
        @include font-config(400, 16px, 1.25, 0.03em);
        color: rgba(255, 255, 255, 0.6);
    }
}

.form-sub .button{
    text-align: start;
    width: 200px;
    height: 50px;
    position: relative;
    padding: 10px 29px;

    .icon-button{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 28px;
        width: 24px;
        height: 24px;
        fill: $white-text;
    }
}

