.hero{
    margin:0 auto;
    max-width: 1600px;
    background-color: $second-bg;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), 
                                                rgba(47, 48, 58, 0.4)), 
                                                url(../img/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    text-align: center;

    .title-hero{
        margin-bottom: 30px;

        @include font-config(900, 44px, 1.36, 0.06em);
        color: $white-text;
        text-transform: uppercase;
    }
}

.hero .container{
    padding-top: 200px;
    padding-bottom: 200px;
}

