.ourteam{
    background-color: $any-bg
}

.ourteam .container{
    padding-top: 94px;
    padding-bottom: 94px;
}

.ourteam-item{
    background-color: $main-bg;
    
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
                0px 1px 1px rgba(0, 0, 0, 0.14), 
                0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    
}

.ourteam .title{
    margin-bottom: 50px;

    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
}

.ourteam-list{
    display: flex;
}
.ourteam-item:not(:first-child){
    margin-left: 30px;
}

.team-info{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
}

.ourteam-item .team-title{
    margin-bottom: 10px;

    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
}

.ourteam-item .position{
    text-align: center;
    color: $secondary-text-color;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
}