.ourteam{
    background-color: $any-bg;
    
    .container{
        padding-top: 94px;
        padding-bottom: 94px;
    }

    .title{
        margin-bottom: 50px;

        @include font-config(700, 36px, 1.16, 0.03em);
        text-align: center;
    }
}

.ourteam-item{
    background-color: $main-bg;
    
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
                0px 1px 1px rgba(0, 0, 0, 0.14), 
                0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    &:not(:first-child){
        margin-left: 30px;
    }
}

.ourteam-list{
    display: flex;
}

.team-info{
    padding: 30px 15px;

    .team-title{
        margin-bottom: 10px;

        @include font-config(500, 16px, 1.18, 0.03em);
        text-align: center;
    }

    .position{
        @include font-config(400, 16px, 1.18, 0.03em);
        text-align: center;
        color: $secondary-text-color;
    }
}