.social{
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.social-link .link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: background-color 250ms $cubic-function;
}

.social-link .link:hover,
.social-link .link:focus{
    background-color: $accent;
}

.icon-social{
    display: block;
    width: 20px;
    height: 20px;
    background-color: transparent;
}

.social-link .icon-social{
    fill: #AFB1B8;
    transition: fill 250ms $cubic-function;
}

.social-link .link:hover .icon-social,
.social-link .link:focus .icon-social{
    fill: $white-text;
}

.social .social-link:not(:last-child){
    margin-right: 10px;
}
